<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FurFriends - Vì yêu thương không chỉ nói bằng lời</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetStore.styles.css" asp-append-version="true" />*@
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="FurFriends" name="keywords">
    <meta content="FurFriends - Vì yêu thương không chỉ nói bằng lời" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/tplAdmin/images/logo-icon.png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/tpl/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/tpl/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/tpl/css/bootstrap.min.css?v=@DateTime.Now.Ticks" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/tpl/css/style.css?v=@DateTime.Now.Ticks" rel="stylesheet">
    <link href="~/./css/AIStyle.css?v=@DateTime.Now.Ticks" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="~/css/site.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
         .navbar-nav .nav-link {
             position: relative;
         }

             .navbar-nav .nav-link.active::before{
                 top: -20px ;
             }
             .navbar-nav .nav-link.active::after {
                 content: '';
                 position: absolute;
                 bottom: 3px;
                 left: 0;
                 width: 100%;
                 height: 3px;
                 background-color: #0056b3;
             }

             .navbar-nav .nav-link:hover::after {
                 content: '';
                 position: absolute;
                 bottom: 3px;
                 left: 0;
                 width: 100%;
                 height: 3px;
                 background-color: #0056b3;
             }

    </style>
</head>
<body>
    <header style="position: sticky; top: 0; right: 0; left: 0; z-index: 9999; background-color: #ffcd16; height: 80px;">
        <nav class="navbar navbar-expand-lg navbar-light py-0 px-4" style="height: 100%;">
            <!-- Logo thương hiệu -->
            <a href="/Home" class="navbar-brand d-flex align-items-center" style="margin-left: 1rem;">
                @*<h3 class="m-0 text-uppercase" style="color: #0056b3; font-weight: bold;">FUR </br> <span style="color: #0000FF;">FRIENDS</span></h3>*@
                <img src="~/Images/Slice 3.png" width="124px" />
            </a>
            <!-- Nút toggle (mobile view) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu chính -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <ul class="navbar-nav" style="margin-left: auto;>
                    <li class="nav-item">
                        <a href="/Home" class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Customer/Home"? "active" : "")" style="color: #085998;">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Forum" class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Customer/Forum"? "active" : "")" style="color: #085998;">Diễn Đàn</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Product" class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Customer/Product"? "active" : "")" style="color: #085998;">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a href="/About" class="nav-link @(ViewContext.RouteData.Values["page"].ToString() == "/Customer/About"? "active" : "")" style="color: #085998;">Giới thiệu</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center mb-2 ms-auto" style="margin-right: 70px;">
                    <a href="/Cart" class="btn btn-primary me-2" style="background-color: #0056b3; border-color: #0056b3; border-radius:50px;">
                        <i class="bi bi-cart"></i>
                    </a>
                    @if (Context.Session.GetInt32("acc") == null)
                    {
                        <a href="/Login" class="btn btn-primary" style="background-color: #0056b3; border-color: #0056b3;border-radius:50px;">Đăng nhập</a>
                    }
                    else
                    {
                        int? acc = Context.Session.GetInt32("acc");
                        <div class="dropdown">
                            <a href="#" class="btn btn-primary me-2 dropdown-toggle" style="background-color: #0056b3; border-color: #0056b3; border-radius:50px;"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <!-- Danh sách menu -->
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Profile/@acc">👤 Hồ sơ</a></li>
                                <li><a class="dropdown-item" href="/Order">🛒 Đơn mua</a></li>
                                <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <!-- Phần giỏ hàng và đăng nhập -->
            
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="chat-icon" id="chatIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-wechat" viewBox="0 0 16 16">
            <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.32.32 0 0 0-.12.366l.218.81a.6.6 0 0 1 .029.117.166.166 0 0 1-.162.162.2.2 0 0 1-.092-.03l-1.057-.61a.5.5 0 0 0-.256-.074.5.5 0 0 0-.142.021 5.7 5.7 0 0 1-1.576.22M9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.6.6 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.63.63 0 0 0 .098.356" />
            <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.5.5 0 0 0-.032.14.19.19 0 0 0 .193.193q.06 0 .111-.029l1.268-.733a.6.6 0 0 1 .308-.088q.088 0 .171.025a6.8 6.8 0 0 0 1.625.26 4.5 4.5 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02l.15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826m4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0m3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0" />
        </svg>
    </div>
    <div class="chat-container" id="chatContainer" style="display: none;">
        <div class="chat-header">
            <h3>Hỗ Trợ</h3>
        </div>
        <div class="chat-display" id="chatDisplay" style="height: 20rem; max-height: 20rem;overflow: scroll;">
            <div class="message AI">
                <p><strong>AI:</strong> Xin chào!Tôi có thể giúp gì cho bạn?</p>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" id="userInput" placeholder="Type your message...">
            <button id="sendBtn">Send</button>
        </div>
    </div>
    <script src="app.js"></script>
    <script>
        document.addEventListener("click", function (event) {
            let chatContainer = document.getElementById("chatContainer");
            let chatIcon = document.getElementById("chatIcon");

            if (event.target.closest("#chatIcon")) {
                chatContainer.style.display = "block";
                chatIcon.style.display = "none";
                return;
            }

            if (event.target.closest("#chatContainer")) {
                return;
            }

            chatContainer.style.display = "none";
            chatIcon.style.display = "flex";
        });

    </script>
    <footer>
        <div class="mt-5" style="background-color:#ffcd16; height:30px; width:100%;"></div>
        <div class="container-fluid  py-5" style="background-color:#fff1d7;">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6 " style="color:#667479">
                        <h5 class="text-uppercase border-5 border-primary mb-4" style="color:#085998;">Liên hệ</h5>
                        <p class="mb-2"><i class="bi bi-geo-alt me-2 fs-4"></i><span style="margin:0 0 5px 3px;">FPT University</span></p>
                        <p class="mb-2"><i class="bi bi-envelope me-2 fs-4"></i>quanphan2092003@gmail.com</p>
                        <p class="mb-0"><i class="bi bi-telephone me-2 fs-4"></i>0396925536</p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-uppercase border-5 border-primary mb-4" style="color:#085998">Liên kết phổ biến</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-body mb-2" href="/Home"><span style="margin-right:13px;">></span>Trang Chủ</a>
                            <a class="text-body mb-2" href="/Forum"><span style="margin-right:13px;">></span>Diễn Đàn</a>
                            <a class="text-body mb-2" href="/Product"><span style="margin-right:13px;">></span>Sản phẩm</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        @*<h3 class="text-uppercase">FUR</br><span>friends</span></h3>*@
                        <img src="~/Images/Slice 1.png"></img>
                        <div class="text-center fs-3">
                            <a href="https://www.facebook.com/nhungnguoibanlamlongg" target="_blank">
                                <i class="bi bi-facebook" style="color:#085998"></i>
                            </a>
                            <a href="https://www.instagram.com/nhungnguoibanlamlongg/" target="_blank">
                                <i class="bi bi-instagram" style="margin:0 25px; color:#085998"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
@*     <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["error"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["error"] != null)
    {
        <script>
            $(document).ready(function () {
                $('#errorModal').modal('show');
            });
        </script>
    } *@
    <a href="#" class="btn btn-primary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Chỉ cần 1 bản jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/tpl/lib/easing/easing.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/tpl/lib/waypoints/waypoints.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/tpl/lib/owlcarousel/owl.carousel.min.js?v=@DateTime.Now.Ticks"></script>

    <!-- Template Javascript -->
    <script src="~/tpl/js/main.js?v=@DateTime.Now.Ticks"></script>
   
    <script src="~/lib/jquery/dist/jquery.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/site.js?v=@DateTime.Now.Ticks" asp-append-version="true"></script>
    <script src="~/js/productDetailScript.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/productScript.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/js/app.js?v=@DateTime.Now.Ticks"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>