@page "/Admin/Dashboard"
@model PetStore.Pages.Admin.IndexModel
@{
    Layout = "_layoutAdmin";
}
<div class="layout-specing">
    <h5 class="mb-0">Dashboard</h5>

    <div class="row">
        <div class="col-xl-2 col-lg-4 col-md-4 mt-4">
            <div class="card features feature-primary rounded border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="icon text-center rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
                        </svg>
                    </div>
                    <div class="flex-1 ms-2">
                        <h5 class="mb-0">@Model.totalUsers</h5>
                        <p class="text-muted mb-0">Người dùng</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-xl-2 col-lg-4 col-md-4 mt-4">
            <div class="card features feature-primary rounded border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="icon text-center rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
                        </svg>
                    </div>
                    <div class="flex-1 ms-2">
                        <h5 class="mb-0">@(Model.orders != null? Model.orders.Count : "0")</h5>
                        <p class="text-muted mb-0">SP đã bán</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-xl-2 col-lg-4 col-md-4 mt-4">
            <div class="card features feature-primary rounded border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="icon text-center rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-postcard" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0zM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5M10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM13 8h-2V6h2z" />
                        </svg>
                    </div>
                    <div class="flex-1 ms-2">
                        <h5 class="mb-0">@(Model.forums != null? Model.forums.Count : "0")</h5>
                        <p class="text-muted mb-0">Bài <br /> viết</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-xl-2 col-lg-4 col-md-4 mt-4">
            <div class="card features feature-primary rounded border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="icon text-center rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart-fill" viewBox="0 0 16 16">
                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM8.5 4h6l.5.667V5H1v-.333L1.5 4h6V1h1zM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                        </svg>
                    </div>
                    <div class="flex-1 ms-2">
                        <h5 class="mb-0">@(Model.products != null? Model.products.Count : "0")</h5>
                        <p class="text-muted mb-0">Sản phẩm</p>
                    </div>
                </div>

            </div>
        </div><!--end col-->

        <div class="col-xl-2 col-lg-4 col-md-4 mt-4">
            <div class="card features feature-primary rounded border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="icon text-center rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                        </svg>
                    </div>
                    <div class="flex-1 ms-2">
                        <h5 class="mb-0">@(Model.shops != null? Model.shops.Count : "0")</h5>
                        <p class="text-muted mb-0">Shop liên kết</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-xl-2 col-lg-4 col-md-4 mt-4">
            <div class="card features feature-primary rounded border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="icon text-center rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                    </div>
                    <div class="flex-1 ms-2">
                        <h5 class="mb-0">@Model.viewBanner</h5>
                        <p class="text-muted mb-0">View banner</p>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-xl-8 col-lg-7 mt-4">
            <div class="card shadow border-0 p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="align-items-center mb-0">Người dùng</h6>
                </div>
                <div id="dashboard" class="apex-chart"></div>
            </div>
        </div><!--end col-->

        <div class="col-xl-4 col-lg-5 mt-4">
            <div class="card shadow border-0 p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="align-items-center mb-0">Đơn hàng</h6>
                </div>
                <div id="department" class="apex-chart"></div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div>

<script src="~/tplAdmin/js/apexcharts.min.js?v=@DateTime.Now.Ticks"></script>
<script src="~/tplAdmin/js/columnchart.init.js?v=@DateTime.Now.Ticks"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var userInsights = @Html.Raw(Json.Serialize(Model.userInsights));

        if (!userInsights || userInsights.length === 0) {
            console.error("Dữ liệu rỗng, biểu đồ không thể hiển thị.");
            return;
        }

        var dates = userInsights.map(item => new Date(item.date).toISOString().split('T')[0]);
        var users = userInsights.map(item => item.userCount);


        var options1 = {
            chart: {
                height: 350,
                type: "bar",
                toolbar: { show: false }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: "40%",
                    endingShape: "rounded"
                }
            },
            dataLabels: { enabled: false },
            stroke: {
                show: true,
                width: 2,
                colors: ["transparent"]
            },
            series: [{
                name: "Người dùng",
                data: users
            }],
            xaxis: {
                categories: dates,
                labels: {
                    rotate: -45
                }
            },
            yaxis: {
                title: {
                    text: "Số lượng người dùng"
                }
            },
            fill: {
                opacity: 1
            },
            colors: ["#396cf0"],  // Màu của cột
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + " Người dùng";
                    }
                }
            }
        };

        var chart1 = new ApexCharts(document.querySelector("#dashboard"), options1);
        chart1.render();

        var orderInsights = @Html.Raw(Json.Serialize(Model.orderInsight));
        if (!orderInsights || orderInsights.length === 0) {
            console.error("Dữ liệu rỗng, biểu đồ không thể hiển thị.");
            return;
        }
        var total = orderInsights.reduce((sum, item) => sum + item.data, 0);
        var orderSeries = orderInsights.map(item => (item.data / total) * 100);
        var orderLabels = orderInsights.map(item => item.status);

        // Cập nhật dữ liệu vào chart
        var options2 = {
            chart: {
                height: 350,
                type: 'radialBar',
                dropShadow: {
                    enabled: true,
                    top: 10,
                    left: 0,
                    bottom: 0,
                    right: 0,
                    blur: 2,
                    color: '#45404a2e',
                    opacity: 0.35
                },
            },
            colors: ['#396cf0', '#53c797', '#f1b561', '#f0735a', '#735af0', '#f05aa3'],
            plotOptions: {
                radialBar: {
                    track: {
                        background: '#b9c1d4',
                        opacity: 0.5,
                    },
                    dataLabels: {
                        name: {
                            fontSize: '22px',
                        },
                        value: {
                            fontSize: '16px',
                            color: '#8997bd',
                            show: true
                        },
                        total: {
                            show: true,
                            label: 'Total',
                            color: '#8997bd',
                            formatter: function () {
                                return total;
                            }
                        }

                    },
                    strokeWidth: '15%',
                }
            },
            series: orderSeries,
            labels: orderLabels,
            tooltip: {
                y: {
                    formatter: function (val, { seriesIndex }) {
                        let percentage = ((val / total) * 100).toFixed(2);
                        return val + " (" + percentage + "%)";
                    }
                }
            }
        };

        var chart2 = new ApexCharts(document.querySelector("#department"), options2);
        chart2.render();
    });


</script>