@page "/Product"
@model PetStore.Pages.Customer.ProductModel
@{
    Layout = "_Layout";
    int count = 0;
}
<link href="~/css/productStyle.css?v=@DateTime.Now.Ticks" rel="stylesheet">
<style>
    .product-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
</style>
<!-- Products Start -->
<div class="container mt-5">

    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            <form method="post" id="from-search">
                <div class="mb-3">
                    <div class="position-relative input-group shadow p-3 mb-5 bg-white rounded-custom h-5rem">
                        <input type="text" value="@(Model.Search != null && Model.Search.Length==0? "" : Model.Search)" name="search" id="searchBox" class="form-control p-2 rounded-15 input-search" placeholder="Tìm kiếm">
                        <button type="submit" id="searchButton" class="btn btn-base icon-search-cus rounded-15 position-absolute right-0 z-index-10">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#f0f8ff00" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8" class="color-yellow"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65" class="color-yellow"></line>
                            </svg>
                        </button>
                    </div>
                </div>

                <h5 class="mb-3 text-blue">Danh mục</h5>
                @if(Model.lsCategory != null)
                {
                    @foreach(var cate in Model.lsCategory)
                    {
                        <ul class="list-group mb-3 ms-3 list-unstyled">
                            <li class="">
                                <a href="/Product?categories=@cate.CategoryName" class="nav-link p-0 text-muted mt-1 mb-1" title="@cate.CategoryName"><i class="bi bi-chevron-right"></i> @cate.CategoryName</a>
                            </li>
                        </ul>
                    }
                }

                <h5 class="mb-3 text-blue">Lọc</h5>
                <div class="mb-4">
                    <h6 class="mt-2 mb-2">Giá sản phẩm</h6>
                    <div class="form-check mt-3 mb-3">
                        <input class="form-check-input" type="radio" name="price" value="all" id="all" checked="@(Model.Price=="all")">
                        <label class="form-check-label" for="all">Toàn bộ</label>
                    </div>
                    <div class="form-check mt-3 mb-3">
                        <input class="form-check-input" type="radio" name="price" value="below100k" id="below100k" checked="@(Model.Price=="below100k")">
                        <label class="form-check-label" for="below100k">Giá dưới 100.000đ</label>
                    </div>
                    <div class="form-check mt-3 mb-3">
                        <input class="form-check-input" type="radio" name="price" value="100k-500k" id="100k-500k" checked="@(Model.Price=="100k-500k")">
                        <label class="form-check-label" for="100k-500k">100.000đ - 500.000đ</label>
                    </div>
                    <div class="form-check mt-3 mb-3">
                        <input class="form-check-input" type="radio" name="price" value="500k-1m" id="500k-1m" checked="@(Model.Price=="500k-1m")">
                        <label class="form-check-label" for="500k-1m">500.000đ - 1.000.000đ</label>
                    </div>
                    <div class="form-check mt-3 mb-3">
                        <input class="form-check-input" type="radio" name="price" value="1m-1.5m" id="1m-1.5m" checked="@(Model.Price=="1m-1.5m")">
                        <label class="form-check-label" for="1m-1.5m">1.000.000đ - 1.500.000đ</label>
                    </div>

                </div>
                <div class="mb-4">
                    <h6>Loại sản phẩm</h6>
                    @if(Model.lsCategory != null)
                    {
                        @foreach (var cate in Model.lsCategory)
                        {
                            <div class="form-check mt-3 mb-3">
                                <input class="form-check-input" type="checkbox" name="category" value="@cate.CategoryId" id="@cate.CategoryName" checked="@(Model.Category.Contains(cate.CategoryId.ToString()))">
                                <label class="" for="@cate.CategoryName">@cate.CategoryName</label>
                            </div>
                        }
                    }
                </div>
            </form>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="border-5 border-primary ps-3" style="max-width: 600px;">
                <p class="">Khó chọn sản phẩm cho thú cưng của bạn?</p>
                <h3 class="text-blue text-uppercase">Sản phẩm của chúng tôi</h3>
            </div>
            <div class="row" id="productList">
                @if(Model.lsProduct != null)
                {
                    @foreach(var pro in Model.lsProduct)
                    {
                        count++;
                        <div class=" product-@count col-lg-4 col-md-6 col-sm-6 col-xs-6 col-6">
                            <div class="pb-5">
                                <div class="product-item p-3 position-relative bg-white d-flex flex-column text-center shadow rounded-15">
                                    <a href="/Product/ProductDetails?id=@pro.ProductId">
                                        <img class="img-fluid mb-4 rounded-15 bg-light" style="object-fit:contain" src="@pro.Image" alt="">
                                        <h6 class="text-start">@pro.ProductName</h6>
                                        <p class="text-muted text-start mb-2">Danh mục: <b>@pro.Category.CategoryName</b></p>
                                        @using System.Globalization
                                        <h5 class="mb-0 text-start">@(((int)pro.Price).ToString("N0", CultureInfo.InvariantCulture)) VND</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center align-items-center m-0">
                <li class="page-item">
                    <a class="page-link rounded-circle border-0 text-primary" href="#" aria-label="Previous">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </li>
                @for(int i = 1; i <= Model.totalPage; i++)
                {
                    <li class="page-item @(i == Model.currentPage ? "active" : "")">
                        @{
                            string url = "/Product?current=" + i;
                            if (Model.isFilter)
                            {
                                url += "&categories=" + Model.dataCate;
                            }
                        }
                        @if (Model.isSearch)
                        {
                            <a class="page-link text-primary border-0 bg-transparent rounded-circle" href="javascript:void(0);"
                               onclick="submitSearchForm(@i)">@i</a>
                        }
                        else
                        {
                            <a class="page-link text-primary border-0 bg-transparent rounded-circle" href="@url">@i</a>
                        }
                    </li>
                }
                <!-- Next Button -->
                <li class="page-item">
                    <a class="page-link rounded-circle border-0 text-primary" href="#" aria-label="Next">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<script src="~/js/productScript.js?v=@DateTime.Now.Ticks"></script>